@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: black;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;
    width: max-content;
    margin: 0px !important;
    border: 0.5px solid #ffff;
}


.css-1oy18r0{
    width: 100vw !important;
}

.css-1eeu2ag{
  min-width: 100vw !important;
}
.css-1oy18r0 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: white !important;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    padding-right: 14px;
}








input, select, textarea {
    background-color: #171717C4; /* Same color as the top of the page */
    color: white; /* Ensure text is readable */
    border: 1px solid #2a2a2a; /* Optional: Slight border for distinction */
  }


